<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="2b933d9b-cf88-458b-ae91-bb106ca3f42f"
    Publisher="CN=Andrey"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="2b933d9b-cf88-458b-ae91-bb106ca3f42f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>EduMessage</DisplayName>
    <PublisherDisplayName>Andrey</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="EduMessage.App">
      <uap:VisualElements
        DisplayName="EduMessage"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\icon.png"
        Description="EduMessage"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\icon.png"  BackgroundColor="transparent"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer"/>
    <uap:Capability Name="removableStorage"/>
  </Capabilities>
</Package>